VITE_SUPABASE_URL= https://qjwfnzahicjxhbwywyni.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqd2ZuemFoaWNqeGhid3l3eW5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MDkwMTUsImV4cCI6MjA4OTA4NTAxNX0.6MimWvSro51JBY-AX8a_0ZGHILjunqwtG5W5Ammjnjw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqd2ZuemFoaWNqeGhid3l3eW5pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUwOTAxNSwiZXhwIjoyMDg5MDg1MDE1fQ.KcHaHyNYFVTZ0PmAb9d6OMXqKGAJpxygHuO1K8qYJFM
